[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/arltk/nvim
[submodule "wallpapers/Pictures/wallpapers"]
	path = wallpapers/Pictures/wallpapers
	url = https://github.com/arltk/wallpapers
[submodule "yazi/.config/yazi"]
	path = yazi/.config/yazi
	url = https://github.com/arltk/yazi.git
